<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta property="og:url"                content="#" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Puspin graphql  " />
    <meta property="og:description"        content="GraphQl server for puspin"/>
    <meta property="og:image"              content="https://res.cloudinary.com/dus4sijdt/image/upload/v1538632080/og_image_ysqw3e.png"/>


    <title>Puspin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body style="font-size:99px;background-color:#FEFEFE">
    <div class="container" style="padding:1.2rem">
        <div class="card blue-grey darken-1" style="max-width:45rem;margin:0 auto; color:#dbe4e8; padding:2rem">
            <h1 style="text-align:center">Welcome to puspin grapQL server</h1>
            <p class="flow-text ">Puspin is a fictional transport company,located in the heart of Ebonyi state,Nigeria.<br>
            If this is your first time of using graphiql to simulate graphql queries ,please refere to my puspin repo <a class="waves-effect waves-light btn green" href="https://github.com/Ifunanyacollins/travelEndpoint/tree/master">Puspin repo</a> follow the instructions.
           <br> Else  <a href="/hook" class="waves-effect waves-light btn">Open GraphiQL</a> and follow the mini docs provided by graphiql.
            </p>
            
        </div>
    </div>
</body>
</html>